body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    background-color: black;
    color: white;
    font-family: 'Alegreya', serif;
}
.logo_kyrie {
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.logo_kyrie img {
    height: 30%;
    width: 30%;
    margin: 0%;
}
h1 {
    color: rgb(255, 255, 255);
    padding: 1%;
    text-align: center;
}
h2 {
    color: rgb(255, 255, 255);
    padding: 1%;
    text-align: center;
}
p {
    color: white;
    margin: 2vw;
}
.encabezado {
    overflow: hidden;
    position: sticky;
    top: 0%;
    z-index: 1;
}
.encabezado ul {
    margin: 0%;
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 1.5%;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    background-color: white;
}
    .encabezado ul li {
    margin: auto;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
}
.encabezado ul li:after {
    display: block;
    content: '';
    border-bottom: solid 1px #000000;
    padding-bottom: 0.1%;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}
.encabezado ul li:hover:after {
    transform: scaleX(1);
}
a {
    color: black;
    margin: 0;
}
a:hover {
    color: rgb(0, 0, 0);
}
a:active {
    color: gray;
}
* {
    box-sizing: border-box;
}
.container_registro {
    padding: 16px;
    background-color: black;
}
    input[type=text],
    input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f7f7f7;
}
input[type=text]:focus,
input[type=password]:focus {
    background-color: rgb(255, 255, 255);
    outline: none;
}
hr {
    border: 1px solid white;
    margin: 15px;
}
.registerbtn {
    background-color: gray;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.registerbtn:hover {
    opacity: 1;
}
.signin {
    background-color: #f1f1f1;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 10px;
    padding: 1%;
}
.container_registro p a {
    color: rgb(255, 255, 255);
}
.container-signin {
    color: black;
}
body::-webkit-scrollbar {
    width: 15px;
}
body::-webkit-scrollbar-track {
    background: rgb(37, 37, 37);
}
body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 3.5px solid black;
}
footer {
  background-color: white;
  text-align: center;
}
#footer {
  max-width: 99%;
}
@media screen and (max-width: 1080px) {
    body {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        text-decoration: none;
        background-color: black;
        color: white;
        font-family: 'Alegreya', serif;
    }
    .logo_kyrie {
        background-color: rgb(255, 255, 255);
        text-align: center;
    }
    .logo_kyrie img {
        height: 30%;
        width: 30%;
        margin: 0%;
    }
    h1 {
        color: rgb(255, 255, 255);
        padding: 1%;
        text-align: center;
        font-size: 5vw;
    }
    h2 {
        color: rgb(255, 255, 255);
        padding: 1%;
        text-align: center;
        font-size: 4vw;
    }
    p {
        color: white;
        margin: 2vw;
        font-size: 3vw;
    }
        .encabezado {
        overflow: hidden;
        position: sticky;
        top: 0%;
        z-index: 1;
    }
    .encabezado ul {
        margin: 0%;
        width: 100%;
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 1.5%;
        margin-top: 0.1%;
        margin-bottom: 0.1%;
        background-color: white;
    }
    .encabezado ul li {
        margin: auto 0.7vw;
        color: rgb(255, 255, 255);
        font-size: 2.7vw;
        cursor: pointer;
        text-align: center;
    }
    .encabezado ul li:after {
        display: block;
        content: '';
        border-bottom: solid 1px #000000;
        padding-bottom: 0.1%;
        transform: scaleX(0);
        transition: transform 300ms ease-in-out;
    }
    .encabezado ul li:hover:after {
        transform: scaleX(1);
    }
    a {
        color: black;
        margin: 0;
    }
    a:hover {
        color: rgb(0, 0, 0);
    }
    a:active {
        color: gray;
    }
    * {
        box-sizing: border-box;
    }
    .container_registro {
        padding: 16px;
        background-color: black;
    }
        input[type=text],
        input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f7f7f7;
    }
    input[type=text]:focus,
    input[type=password]:focus {
        background-color: rgb(255, 255, 255);
        outline: none;
    }
    hr {
        border: 1px solid white;
        margin: 15px;
    }
    .registerbtn {
        background-color: gray;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }
    .registerbtn:hover {
        opacity: 1;
    }
    .signin {
        background-color: #f1f1f1;
        text-align: center;
        margin-top: 0%;
        margin-bottom: 10px;
        padding: 1%;
    }
    .container_registro p a {
        color: rgb(255, 255, 255);
    }
    .container-signin {
        color: black;
    }
    body::-webkit-scrollbar {
        width: 15px;
    }
    body::-webkit-scrollbar-track {
        background: rgb(37, 37, 37);
    }
    body::-webkit-scrollbar-thumb {
        background-color: white;
        border-radius: 20px;
        border: 3.5px solid black;
    }
    footer {
      background-color: white;
      margin: auto;
    }
    #footer {
      max-width: 99%;
    }
}