body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    background-color: black;
    color: white;
    font-family: 'Alegreya', serif;
}
.logo_kyrie {
    background-color: rgb(255, 255, 255);
    margin: auto;
}
.logo_kyrie img {
    height: 30%;
    width: 30%;
}
h1 {
    color: rgb(255, 255, 255);
    padding: 1%;
    text-align: center;
}
h2 {
    color: rgb(255, 255, 255);
    padding: 1%;
    text-align: center;
}
h3 {
    color: rgb(255, 255, 255);
    padding: 1%;
    text-align: center;
}
p {
    color: white;
    margin: 2%;
}
.encabezado {
    overflow: hidden;
    position: sticky;
    top: 0%;
    z-index: 1;
}
.encabezado ul {
    margin: 0%;
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 1.5%;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    background-color: white;
}
.encabezado ul li {
    margin: auto;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
}
.encabezado ul li:after {
    display: block;
    content: '';
    border-bottom: solid 1px #000000;
    padding-bottom: 0.1%;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}
.encabezado ul li:hover:after {
    transform: scaleX(1);
}
a {
    color: black;
    margin: 0;
}
a:hover {
    color: rgb(0, 0, 0);
}
a:active {
    color: gray;
}
    .container_1 {
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: #6e0000;
    margin: 0%;
    padding: 0%;
}
.container_1 h2 {
    text-align: center;
    padding: 2%;
}
.container_1 h3 {
    text-align: center;
}
.container_1 p {
    text-align: center;
    padding: auto;
    margin: 2%;
}
.container_2 {
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: #0c6400;
    margin: 0%;
    padding: 0.1%;
}
.container_2 h2 {
    text-align: center;
    padding: 2%;
}
.container_2 h3 {
    text-align: center;
}
.container_2 p {
    text-align: center;
    padding: auto;
    margin: 2%;
}
.container_3 {
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 0.1%;
}
.container_3 h2 {
    text-align: center;
    padding: 2%;
}
.container_3 h3 {
    text-align: center;
}
.container_3 p {
    text-align: center;
    padding: auto;
    margin: 2%;
}
img {
    border-radius: 5%;
    display: block;
    margin: auto;
    width: 90%;
}
.trayectoria-deportiva {
    margin: 0%;
    padding: 0%;
}
#grilla_1 {
    display: grid;
    padding: auto;
    margin: auto;
    grid-template-areas: 
    "parrafo_1 parrafo_1 parrafo_1 imagen_1"
    "imagen_2 parrafo_2 parrafo_2 parrafo_2"
    "parrafo_3 parrafo_3 parrafo_3 imagen_3"
    "imagen_4 imagen_4 parrafo_4 parrafo_4"
    "parrafo_5 parrafo_5 imagen_5 imagen_5"
    "imagen_6 imagen_6 parrafo_6 parrafo_6";
    grid-template-columns: 24vw 24vw 24vw 24vw;
    grid-template-rows: auto auto auto auto auto auto;
}
section#parrafo_1 {
    grid-area: parrafo_1;
    margin: auto;
    padding-left: 2.5vw;
}
section#parrafo_2 {
    grid-area: parrafo_2;
    margin: auto;
    padding-right: 2.5vw;
}
section#parrafo_3 {
    grid-area: parrafo_3;
    margin: auto;
    padding-left: 2.5vw;
}
section#parrafo_4 {
    grid-area: parrafo_4;
    margin: auto;
    padding-right: 2.5vw;
}
section#parrafo_5 {
    grid-area: parrafo_5;
    margin: auto;
    padding-left: 2.5vw;
}
section#parrafo_6 {
    grid-area: parrafo_6;
    margin: auto;
    padding-right: 2.5vw;
}
section#imagen_1 {
    grid-area: imagen_1;
    margin: 1vw;
    padding-top: 2vh;
}
section#imagen_2 {
    grid-area: imagen_2;
    margin: 1vw;
    padding-top: 1.5vh;
}
section#imagen_3 {
    grid-area: imagen_3;
    margin: 1vw;
    padding-top: 1.5vh;
}
section#imagen_4 {
    grid-area: imagen_4;
    margin: 1vw;
    padding-top: 2vh;
}
section#imagen_5 {
    grid-area: imagen_5;
    margin: 1vw;
    padding-top: 2vh;
}
section#imagen_6 {
    grid-area: imagen_6;
    margin: 1vw;
    padding-top: 1.5vw;
}
#grilla_2 {
    display: grid;
    grid-template-areas:
    "parrafo_7 parrafo_7 imagen_7 imagen_7"
    "imagen_8 imagen_8 parrafo_8 parrafo_8";
    grid-template-columns: 24vw 24vw 24vw 24vw;
    grid-template-rows: auto auto;
}
section#parrafo_7 {
    grid-area: parrafo_7;
    margin: auto;
    padding-left: 2.5vw;
}
section#parrafo_8 {
    grid-area: parrafo_8;
    margin: auto;
    padding-right: 2.5vw;
}
section#imagen_7 {
    grid-area: imagen_7;
    margin: 1vw;
}
section#imagen_8 {
    grid-area: imagen_8;
    margin: 1vw;
    padding-top: 1.5vw;
}
#grilla_3 {
    display: grid;
    grid-template-areas:
    "parrafo_9 parrafo_9 imagen_9 imagen_9"
    "imagen_10 imagen_10 parrafo_10 parrafo_10"
    "parrafo_11 parrafo_11 parrafo_11 parrafo_11"
    "imagen_11 imagen_11 imagen_11 imagen_11";
    grid-template-columns: 24vw 24vw 24vw 24vw;
    grid-template-rows: auto auto auto auto;
}
section#parrafo_9 {
    grid-area: parrafo_9;
    margin: auto;
    padding-left: 2.5vw;
}
section#parrafo_10 {
    grid-area: parrafo_10;
    margin: auto;
    padding-right: 2.5vw;
}
section#parrafo_11 {
    grid-area: parrafo_11;
    margin: auto;
    padding-left: 2.5vw;
}
section#imagen_9 {
    grid-area: imagen_9;
    margin: 1vw;
    padding-top: 2vw;
}
section#imagen_10 {
    grid-area: imagen_10;
    margin: 1vw;
    padding-top: 3.5vw;
}
section#imagen_11 {
    grid-area: imagen_11;
    padding-top: 2.5vh;
    margin: 1vw;
    padding: auto;
}
body::-webkit-scrollbar {
    width: 15px;
}
body::-webkit-scrollbar-track {
    background: rgb(37, 37, 37);
}
body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 3.5px solid black;
}
footer {
  background-color: white;
  text-align: center;
}
#footer {
  height: 15vh;
  width: 45vw;
}
/*Para moviles*/
@media screen and (max-width: 1080px) {
    body {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        text-decoration: none;
        background-color: black;
        color: white;
        font-family: 'Alegreya', serif;
    }
    .logo_kyrie {
        background-color: rgb(255, 255, 255);
        margin: auto;
    }
    .logo_kyrie img {
        height: 30%;
        width: 30%;
    }
    h1 {
        color: rgb(255, 255, 255);
        padding: 1%;
        text-align: center;
        font-size: 5vw;
    }
    h2 {
        color: rgb(255, 255, 255);
        padding: 1%;
        text-align: center;
        font-size: 4vw;
    }
    h3 {
        color: rgb(255, 255, 255);
        padding: 1%;
        text-align: center;
        font-size: 3vw;
    }
    p {
        color: white;
        margin: 2%;
        font-size: 2vw;
    }
    .encabezado {
        overflow: hidden;
        position: sticky;
        top: 0%;
        z-index: 1;
    }
    .encabezado ul {
        margin: 0%;
        width: 100%;
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 1.5%;
        margin-top: 0.1%;
        margin-bottom: 0.1%;
        background-color: white;
    }
    .encabezado ul li {
        margin: auto 0.7vw;
        color: rgb(255, 255, 255);
        font-size: 2.7vw;
        cursor: pointer;
        text-align: center;
    }
    .encabezado ul li:after {
        display: block;
        content: '';
        border-bottom: solid 1px #000000;
        padding-bottom: 0.1%;
        transform: scaleX(0);
        transition: transform 300ms ease-in-out;
    }
    .encabezado ul li:hover:after {
        transform: scaleX(1);
    }
    a {
        color: black;
        margin: 0;
    }
    a:hover {
        color: rgb(0, 0, 0);
    }
    a:active {
        color: gray;
    }
        .container_1 {
        height: auto;
        align-items: center;
        justify-content: center;
        background-color: #6e0000;
        margin: 0%;
        padding: 0%;
    }
    .container_1 h2 {
        text-align: center;
        padding: 2%;
    }
    .container_1 h3 {
        text-align: center;
    }
    .container_1 p {
        text-align: center;
        padding: auto;
        margin: 2%;
    }
    .container_2 {
        height: auto;
        align-items: center;
        justify-content: center;
        background-color: #0c6400;
        margin: 0%;
        padding: 0.1%;
    }
    .container_2 h2 {
        text-align: center;
        padding: 2%;
    }
    .container_2 h3 {
        text-align: center;
    }
    .container_2 p {
        text-align: center;
        padding: auto;
        margin: 2%;
    }
    .container_3 {
        height: auto;
        align-items: center;
        justify-content: center;
        margin: 0%;
        padding: 0.1%;
    }
    .container_3 h2 {
        text-align: center;
        padding: 2%;
    }
    .container_3 h3 {
        text-align: center;
    }
    .container_3 p {
        text-align: center;
        padding: auto;
        margin: 2%;
    }
    img {
        border-radius: 5%;
        display: block;
        margin: auto;
        width: 90%;
    }
    .trayectoria-deportiva {
        margin: 0%;
        padding: 0%;
    }
    #grilla_1 {
        display: grid;
        padding: auto;
        margin: auto;
        grid-template-areas: 
        "parrafo_1"
        "imagen_1"
        "parrafo_2"
        "imagen_2"
        "parrafo_3"
        "imagen_3"
        "parrafo_4"
        "imagen_4"
        "parrafo_5"
        "imagen_5"
        "parrafo_6"
        "imagen_6";
        grid-template-columns: 99vw;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
    }
    section#parrafo_1 {
        grid-area: parrafo_1;
        margin: auto;
    }
    section#parrafo_2 {
        grid-area: parrafo_2;
        margin: auto;
    }
    section#parrafo_3 {
        grid-area: parrafo_3;
        margin: auto;
    }
    section#parrafo_4 {
        grid-area: parrafo_4;
        margin: auto;
    }
    section#parrafo_5 {
        grid-area: parrafo_5;
        margin: auto;
    }
    section#parrafo_6 {
        grid-area: parrafo_6;
        margin: auto;
    }
    section#imagen_1 {
        grid-area: imagen_1;
        margin: auto;
        width: 90%;
    }
    section#imagen_2 {
        grid-area: imagen_2;
        margin: auto;
        width: 90%;
    }
    section#imagen_3 {
        grid-area: imagen_3;
        margin: auto;
        width: 90%;
    }
    section#imagen_4 {
        grid-area: imagen_4;
        margin: auto;
        width: 90%;
        padding-top: 0%;
    }
    section#imagen_5 {
        grid-area: imagen_5;
        margin: auto;
        width: 90%;
        padding-top: 0%;
    }
    section#imagen_6 {
        grid-area: imagen_6;
        margin: auto;
        width: 90%;
        padding-bottom: 1vh;
    }
    #grilla_2 {
        display: grid;
        grid-template-areas:
        "parrafo_7"
        "imagen_7"
        "parrafo_8"
        "imagen_8";
        grid-template-columns: 99vw;
        grid-template-rows: auto auto auto auto;
    }
    section#parrafo_7 {
        grid-area: parrafo_7;
        margin: auto;
    }
    section#parrafo_8 {
        grid-area: parrafo_8;
        margin: auto;
    }
    section#imagen_7 {
        grid-area: imagen_7;
        margin: auto;
        width: 90%;
        padding-top: 0%;
    }
    section#imagen_8 {
        grid-area: imagen_8;
        margin: auto;
        width: 90%;
        padding-top: 0%;
        padding-bottom: 1vh;;
    }
    #grilla_3 {
        display: grid;
        grid-template-areas:
        "parrafo_9"
        "imagen_9"
        "parrafo_10"
        "imagen_10"
        "parrafo_11"
        "imagen_11";
        grid-template-columns: 99vw;
        grid-template-rows: auto auto auto auto auto auto;
    }
    section#parrafo_9 {
        grid-area: parrafo_9;
        margin: auto;
    }
    section#parrafo_10 {
        grid-area: parrafo_10;
        margin: auto;
    }
    section#parrafo_11 {
        grid-area: parrafo_11;
        margin: auto;
    }
    section#imagen_9 {
        grid-area: imagen_9;
        margin: auto;
        width: 90%;
    }
    section#imagen_10 {
        grid-area: imagen_10;
        margin: auto;
        width: 90%;
    }
    section#imagen_11 {
        grid-area: imagen_11;
        margin: auto;
        width: 90%;
        padding-top: 0%;
        padding-bottom: 1vh;
    }
    body::-webkit-scrollbar {
        width: 15px;
    }
    body::-webkit-scrollbar-track {
        background: rgb(37, 37, 37);
    }
    body::-webkit-scrollbar-thumb {
        background-color: white;
        border-radius: 20px;
        border: 3.5px solid black;
    }
    footer {
      background-color: white;
      margin: auto;
    }
    #footer {
      max-width: 99%;
    }
}